
<!-- //background Image -->

<div class="container-fluid">
  <div class="row">
      <div class="col-md-2 col-sm-4 sidebar1">
          <div class="logo">
              <img src="src/image/LOGO_OMS.png" class="img-responsive center-block" alt="Logo">
          </div>
          <br>
          <div class="left-navigation">
              <ul class="list">
                  <h5><strong>OFFER</strong></h5>
                  <li ><a href="#" (click)="onSelect('creating')">CREATE</a></li>
                  <li><a href="#" (click)="onSelect('viewing')">VIEW</a></li>
                 
              </ul>
              <ul class="list">
                <h5><strong>TACKTICS</strong></h5>
                <li>CREATE</li>
                <li>VIEW</li>
            </ul>
           </div>
      
       </div>
</div>
